.cart__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .dataL__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 50%;

        .item__img {
            max-width: 230px;
            height: auto;
        }

        >h1 {
            font-size: 20px;
        }

    }

    .dataR__container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: center;

        >p {
            margin-top: 20px;
            font-weight: 500;
        }

        .remove__icon {
            font-size: 30px;
            transition: color 0.5s;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
}

.item__container {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid #9665f1;
    outline-offset: 0px;
    box-shadow: 5px 5px 0px 0px #9665f1, 10px 10px 0px 0px #aa7ffa, 0px 8px 18px 8px rgba(0, 0, 0, 0);
    border-radius: 17px;
    margin: 30px;
    width: 350px;
}