.item__link {
    text-decoration: none;
    color: black;
}

.product {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 340px;
    border-radius: 17px;
    outline: 2px solid #9665f1;
    outline-offset: 0px;
    box-shadow: 5px 5px 0px 0px #9665f1, 10px 10px 0px 0px #aa7ffa, 15px 15px 0px 0px #b187ff, 20px 20px 0px 0px #c0a2f7, 25px 25px 0px 0px #dcc8ff, 0px 8px 18px 8px rgba(0,0,0,0);    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    > h4 {
        margin: 0;
        font-size: 25px;
        color: #7d38ff;
    }
    > h5 {
        margin: 3px;
        font-size: 20px;
        color: #9e6aff;
    }
    > p {
        margin: 5px;
    }
    .stock {
        align-self: flex-end
    }
    &:hover {
        animation-direction:alternate;
        transform: translateY(-10px);
        box-shadow: 0px 8px 18px 8px #9665f1;    }
}

.product > img {
    width: 100%;
    border-radius: 17px 17px 0 0;
}

