.navBar__links>button {
    font-size: 15px;
}

.navigate__links {
    text-decoration: none;
    color: white;
}

.cart {
    position: absolute;
    top: 64px;
    right: 10px;
    translate: 0 0;
    transition: all 0.3s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    translate: 300px 0;
    transition: all 0.3s;
}

.search {
    position: fixed;
    background-color: orange;
    top: 12px;
    left: 40%;
    transform: translateX(-40%);

}

@media only screen and (max-width: 770px) {
    .search {
        top: 64px;
        left: 0px;
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 599px) {
    .search {
        top: 56px;
        left: 0px;
        transform: translateX(0px);
    }
}