.main__container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 75px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
    margin-top: 15px;
    margin-bottom: 20px;
}

.container__buttons {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.product__counter {
    color: #834bff;
    font-weight: 600;
    margin-bottom: 1px;
}

.product__button {
    color: #834bff;
    &:hover {
        color: #551fc8;
        transition: all 0.5s;
    }
}

.container__add {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button__add {
    height: 25px;
    width: 95%;
}

.button__add--cart {
    height: 25px;
    width: 95%;
    text-decoration: none;
}
