.main__container {
    background-color: orange;
    display: flex;
    width: 175px;
    height: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.56);
    margin: 10px;
}

.item__container {
    background-color: rgb(253, 207, 121);
    border-radius: 5px;
    width: 90%;
    text-align: center;
    border: 1px solid rgba(131, 75, 255, 0.4);
}

.container__buttons {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.product__counter {
    color: #834bff;
    font-weight: 600;
    margin-bottom: 1px;
}

.product__button {
    color: #834bff;
    &:hover {
        color: #551fc8;
        transition: all 0.5s;
    }
}

.container__add {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button__add {
    height: 20px;
    width: 90%;
}

.product__detail {
    text-align: center;
    margin: 5px;
}

.product__price {
    text-align: center;
    margin: 5px;
}