.login__container {
    background-color: orange;

    height: 100vh;
}

.login__form {
    color: #834bff;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        > button {
            color: #834bff;
            background-color: white;
            &:hover {
                background-color: rgb(213, 213, 213);
                color: #551fc8;
                transition: all 0.5s;
            }
        }
        >input {
            margin: 5px 0;
            font-size: 18px;
        }
    }
}

